/*fonts */
@font-face {
  font-family: 'montLight';
  src: url('./fonts/Mont-Light.ttf');
}

@font-face {
  font-family: 'montRegular';
  src: url('./fonts/Mont-Regular.ttf');
}

@font-face {
  font-family: 'montDark';
  src: url('./fonts/Mont-Book.ttf');
}

@font-face {
  font-family: 'montBold';
  src: url('./fonts/Mont-Bold.ttf');
}

@font-face {
  font-family: 'montBolder';
  src: url('./fonts/Mont-Heavy.ttf');
}

@font-face {
  font-family: 'gilroy';
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

/*additonal styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
  font-family: 'montLight';
}


body {
  justify-content: center;
  font-family: 'montRegular';
  flex-direction: column;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/*frequently used classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAddStyles {
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 800;
  font-family: 'montBold';
}

.answer {
  display: none
}

.displayNone {
  display: flex;
}

.rotate {
  transform: rotateX(180deg);
}

/*beginig of main styles*/
.header {
  width: 100%;
  background-color: #11346F;
  height: 39px;
}

.header p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 800;
  color: #ffffff;
}

.navbar {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #F5FDFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(14px);
}

nav {
  display: none;

}

ul {
  width: 520px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.mainLogo {
  height: 22px;
  margin: 0 auto;
}

.darkLi {
  color: #11346F;
  font-family: 'montDark';
  font-weight: 700;
}

.lightLi {
  color: #11346F;
  opacity: 0.75;
  font-family: 'montRegular';
}

.navbar button {
  display: none;
}

.container {
  width: 100%;
  padding: 13px 14px 28px 17px;
  background-color: #F5FDFF;
}

section {
  flex-direction: column;
  width: 377px;

}

section h3 {
  width: 360px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  color: #262626;
  height: 60px;
  font-family: "montDark";

}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 163px;
}

.mainWrapper h1 {
  width: 193px;
  font-size: 26px;
  line-height: 30px;
  color: #213786;
  font-family: 'montDark';

}

.mainWrapper span {
  color: #197AFF;
  font-family: "gilroy";
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

.mainWrapper .underlineMagic:after {
  content: "";
  width: 97px;
  height: 6px;
  background: url("./assets/underline.png") no-repeat;
  position: absolute;
  top: 39px;
  left: -5px;
}

.arrowMobile {
  position: absolute;
  left: 100px;
  top: 85px
}

.arrowDesktop {
  display: none;
}

.ImgTwoMassagers {
  width: 174px;
  height: 107px;
  margin-top: 23px;
}

.ImgTwoMassagers-2 {
  display: none;
}

.shadow {
  width: 119px;
  position: absolute;
  left: 183px;
  top: 116px
}

.shadow2 {
  width: 119px;
  position: absolute;
  left: 235px;
  top: 133px
}

.kindOfMassage {
  display: flex;
  width: 350px;
  margin: 0 auto;
}

.massageBox {
  width: 95px;
  flex-direction: column;
}

.kindOfMassage img {
  width: 35px;
  height: 35px;
  margin-bottom: 9px;
  align-self: center;
}

.kindOfMassage ul {
  display: none;
}

.kindOfMassage h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #11346F;
  width: 68px;
  font-family: 'montDark';
}

.wrapperBtn {
  flex-direction: column;
}

.getMassage {
  width: 350px;
  height: 63px;
  margin-top: 21px;
  background-color: #197AFF;
  line-height: 21px;
  font-size: 16px;
}

.btnAboutBundles {
  width: 228px;
  height: 34px;
  background-color: #4D91CF26;
  margin: 16px 0;
  border-radius: 30px;
  font-family: 'montRegular';
  color: #000000;
  font-size: 13px;
}

b {
  color: #197AFF;
  font-family: "montBold";
}

.recommendation {
  display: flex;
  width: 355px;
  height: 81px;
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
  padding: 9px 7px;
  margin: 0 auto;
}

.imgReview {
  margin-right: 12px;
}

.recommendation q {
  color: #000000c1;
  font-size: 12px;
  line-height: 17px;
  width: 235px;
  font-family: "montBold";

}

.circle {
  background: url("./assets/tick-circle.png")no-repeat 5px;
  background-size: 15.55px 15.55px;

}

.stars {
  background: url("./assets/stars.png")no-repeat 5px;
  background-size: 73px 15.55px;
  display: inline;

}

.debra {
  margin-left: 85px;
  color: #787979c1;
  font-family: "montBold";
  font-size: 12px;
}

.footWrapper {
  margin-top: 7px;
}

.footWrapper span {
  margin-left: 28px;
  color: #197AFF;
  font-family: 'montBolder';
  font-size: 11px;
  line-height: 14.61px;
}

.cardHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 101px;
  background-color: #11346F;
  justify-content: space-evenly;
}

.cardHead h2 {
  display: none;
}

.cardHeadBox,
.cardHeadBox-2 {
  display: block;
  width: 155px;
  height: 100px;
  padding: 12px 10px;
  text-align: center;
}

.cardHeadImg-3 {
  background-color: white;
  border-radius: 50%;
  height: 36px;
  width: 36px;

}

.cardHeadBox-3 {
  display: none;
}

.cardHeadBox h3,
.cardHeadBox-2 h3 {
  margin-top: 4px;
  width: 115px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-family: "montBold";
}

.cardContainer {
  overflow: hidden;
  background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
  padding: 19px 18px 63px 18px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardContainer h1 {
  color: #11346F;
  font-size: 30px;
  font-family: 'montDark';
  text-align: center;
}

.cardContainer h2 {
  color: #ffffff;
  font-size: 30px;
  font-family: 'gilroy';
  margin-bottom: 6px;
}

.card,
.card-2,
.card-3 {
  width: 350px;
  max-width: 600px;
  background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
  border: 1.5px solid #197AFF;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  height: 468px;
  margin: 70px 0;
}

.card-2 {
  height: 455px;
  margin-bottom: 41px;
}

.card-3 {
  height: 387px;
}


.cardImg2 {
  position: absolute;
  top: -40px;
}

.cardImg {
  position: absolute;
  top: -30px;
}

.arrowWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 0;
  position: relative;
}

.cardArrow {
  position: absolute;
  top: 0px;
  left: 120px;
}

.card h4 {
  background-color: #57AC73;
  width: 126px;
  height: 28px;
  color: #ffffff;
  margin-top: 60px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "montDark";
}

.card-2 h4 {
  background-color: #AC5780;
  width: 100px;
  height: 28px;
  color: #ffffff;
  margin-top: 60px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "montDark";
}

.card h2,
.card-2 h2,
.card-3 h2 {
  font-size: 24px;
  line-height: 29px;
  color: #11346F;
  font-family: "montDark";
  margin-top: 11px;
}

.card span,
.card-2 span {
  font-size: 24px;
  line-height: 30px;
  color: #197AFF;
  font-family: "gilroy";
  position: relative;
}

.card .underline:after,
.card-2 .underline:after {
  content: "";
  width: 139px;
  height: 6px;
  background: url("./assets/underline-2.svg") no-repeat;
  position: absolute;
  top: 34px;
  left: -18px;
}

.freeShipping,
.freeShipping-3,
.freeShipping-2 {
  display: none;
}

.card h5,
.card-2 h5,
.card-3 h5 {
  font-size: 11px;
  color: #11346F;
  font-family: 'montDark';
  margin-top: 16px;
  align-items: baseline;
  margin-bottom: 23px;
}

.card strong,
.card-2 strong,
.card-3 strong {
  font-family: 'montBolder';
}

.afterpayLogo {
  background: url("./assets/aftrepay.png")no-repeat -25px -1px;
  background-color: #BCF5E3;
  border-radius: 40px;
  margin-left: 5px;
  border: 12px solid transparent;
  border-width: 8px 50px;

}

.inputWrapper {
  width: 335px;
  height: 80px;
  background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
  border: 1.5px solid #AECCFF;
  border-radius: 18px;
  margin-bottom: 21px;
  position: relative;
}

.inputWrapper .aboutSave {
  width: 180.2px;
  height: 36px;
  background: #BFF5BE;
  border: 1px solid #99D298;
  border-radius: 48px;
  position: absolute;
  left: -2px;
  top: -5px;
  color: #11346F;
  font-family: "gilroy";
  font-size: 12px;
  z-index: 5;
}

.inputWrapper .aboutPrice {
  width: 180px;
  height: 36px;
  background: #F0F6FF;
  border: 1px solid #AECCFF;
  border-radius: 80px;
  position: absolute;
  right: -2px;
  top: -5px;
  color: #11346F;
  font-family: "gilroy";
  font-size: 12px;
}

.order {
  width: 100%;
  display: flex;
  margin: 45px;
  padding: 0 10% 0 10%;
}

.order h6 {
  color: #11346F;
  font-family: "gilroy";
  font-size: 12px;
  margin-left: 7px;
}

.card button,
.card-2 button,
.card-3 button {
  width: 325px;
  height: 48px;
  background: #197AFF;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;
  margin-bottom: 16px;

}

.payMethod {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 16.64px;

}

.card .price,
.card-2 .price,
.card-3 .price-3 {
  color: #11346F;
  font-size: 24px;
  font-family: "gilroy";
  margin: 14px 0 0px 0;
}

.price-3 {
  margin: 10px 0 !important;
}

.removedPrice {
  color: #93A2BB;
  font-family: "gilroy";
  font-size: 25px;
}

.review {
  background-color: #F6F8FC;
  width: 100%;
  padding: 28px 16px;
  overflow-x: hidden;
}

.review h1 {
  font-size: 28px;
  color: #11346F;
  width: 382px;
  text-align: center;
  font-family: 'montDark';
}

.review span {
  color: #197AFF;
  font-family: "gilroy";
  position: relative;
}

.review .underline3:after {
  content: "";
  width: 165px;
  height: 6px;
  background: url("./assets/underline-2.svg") no-repeat;
  position: absolute;
  top: 46px;
  left: -18px;
}

.reviewWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 17px;
}

.totalReview {
  color: #11346F;
  font-family: "montBold";
  font-size: 14px;
  margin-top: 5px;
}

.totalReviewStars {
  color: #11346F;
  font-family: "montBold";
  font-size: 14px;
  margin-top: 5px;
  width: 700px;
}

.reviewContainer {
  display: flex;
  gap: 13px;
  margin-left: 540px;
}

.reviewCardOne,
.reviewCardTwo,
.reviewCardThree,
.reviewCardFour {
  width: 285px;
  height: 434px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  margin-bottom: 22px;
}

.reviewCardFour {
  display: none;
}

.wrapper {
  display: block;
}

.reviewBtn {
  width: 133px;
  height: 30px;
  color: #3A3075;
  background: #F6F8FC;
  border: 1px solid #213786;
  border-radius: 5px;
  position: absolute;
  right: 4%;
}

.reviewWrapper-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 17px;
}

.reviewWrapper-2 span {
  font-size: 11px;
  color: #89C25F;
  margin-left: 35px;
}

.circle2 {
  background: url("./assets/greencircle.png")no-repeat 12px -2px;
  height: 20px;
}

.starsReview {
  margin: 6px 0 10px 0;
  padding-left: 16px;
}

.reviewCardOne p,
.reviewCardTwo p,
.reviewCardThree p,
.reviewCardFour p {
  padding: 0 18px 16px 17px;
  font-size: 12px;
  line-height: 26px;
  color: #262626;
}

.activeCard,
.activeCard2,
.activeCard3 {
  width: 14px;
  height: 14px;
  background-color: #CBCED6;
  border-radius: 50%;
  margin-right: 5px;
}

.faq {
  width: 100%;
  overflow-x: hidden;
  background-color: #11346F;
  flex-direction: column;
  color: #ffffff;
  padding: 25px 0;
}

.faq h1 {
  font-size: 30px;
  line-height: 47px;
  width: 260px;
  text-align: center;
  font-family: 'montDark';
}

.faq span {
  font-family: "gilroy";
}

.faqContainer {
  margin: 0 auto;
  width: 377px;
  margin: 38px;
  padding: 2%;
}

.faqImageMain {
  margin-bottom: 24px;
  border-radius: 10px;
}

.questionOne,
.questionTwo,
.questionThree,
.questionFour {
  width: 360px;
  height: 59px;
  padding: 10px 14px;
  text-align: start;
  width: 360px;
  font-size: 16px;
  font-family: 'montDark';
  background: #194081;
  border: 1px solid #31548E;
  border-radius: 6px 6px 0px 0px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.answerOne,
.answerTwo,
.answerThree,
.answerFour {
  background-color: #11346F;
  color: #AECCFF;
  height: 60px;
  padding: 9px;
  border: 1px solid #31548E;
  border-radius: 0px 0px 6px 6px;
  width: 360px;
  text-align: start;
}

.faqWrapper {
  margin-bottom: 16px;
}

.seeAllWrapper {
  align-items: baseline;
}

.seeAll {
  margin-top: -32px;
  width: 110px;
}

/*responsive */
@media screen and (min-width:400px) {
  .reviewContainer {
    gap: 13px;
    margin-left: 500px;
  }
}

@media screen and (min-width:440px) {
  .reviewContainer {
    gap: 16px;
    margin-left: 460px;
  }
}

@media screen and (min-width: 512px) {
  .reviewContainer {
    gap: 23px;
    margin-left: 400px;
  }

  section {
    width: 490px;
  }

  section h3 {
    width: 490px;
  }

  .mainWrapper h1 {
    width: 280px;
    padding-top: 15px;
  }

  .arrowMobile {
    left: 170px;
    top: 70px
  }

  .shadow {
    left: 298px;
    top: 120px
  }

  .shadow2 {
    left: 355px;
    top: 133px
  }

  .kindOfMassage {
    width: 490px;
  }

  .massageBox {
    width: 122px;
  }

  .getMassage {
    width: 490px
  }

  .btnAboutBundles {
    width: 248px;
  }

  .recommendation {
    width: 393px;
  }

  .afterpayLogo {
    margin-left: 16px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 397px;
  }

  .inputWrapper {
    width: 377px;
  }

  .inputWrapper .aboutPrice {
    width: 222px;
  }

  .order {
    width: 100%;
    margin: 45px;
    padding: 0 13%;
  }

  .card button,
  .card-2 button,
  .card-3 button {
    width: 377px;
  }

  .faqContainer {
    width: 414px;
  }

  .faqImageMain {
    width: 374px;
  }

  .questionOne,
  .questionTwo,
  .questionThree,
  .questionFour {
    width: 378px;
  }

  .answerOne,
  .answerTwo,
  .answerThree,
  .answerFour {
    width: 378px;
  }
}

@media screen and (min-width: 632px) {
  section {
    width: 600px;
  }

  section h3 {
    width: 600px;
  }

  .mainWrapper h1 {
    width: 340px;
  }

  .arrowMobile {
    left: 230px;
    top: 80px
  }

  .ImgTwoMassagers {
    width: 184px;
    height: 117px;
    margin-right: 43px;

  }

  .shadow {
    left: 348px;
    top: 130px
  }

  .shadow2 {
    left: 405px;
    top: 143px
  }

  .kindOfMassage {
    width: 600px;
  }

  .massageBox {
    width: 150px;
  }

  .getMassage {
    width: 600px;
    margin-top: 20px;
  }

  .btnAboutBundles {
    width: 255px;
  }

  .recommendation {
    width: 393px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 450px;
  }

  .totalReviewStars {
    margin-left: 5px;
  }

  .reviewCardOne,
  .reviewCardTwo,
  .reviewCardThree,
  .reviewCardFour {
    height: 472px;
  }

  .reviewimg {
    height: 169px;


  }

  .reviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-left: 0px;
    padding: 1%;
    justify-content: center;
  }

  .reviewCardFour {
    display: block;

  }

  .reviewCardOne p,
  .reviewCardTwo p,
  .reviewCardThree p,
  .reviewCardFour p {
    font-size: 13px;
  }

  .activeCard,
  .activeCard2,
  .activeCard3 {
    display: none;
  }

  .faqContainer {
    width: 514px;
  }

  .faqImageMain {
    width: 474px;
    height: 360px;
  }

  .questionOne,
  .questionTwo,
  .questionThree,
  .questionFour {
    width: 478px;
  }

  .answerOne,
  .answerTwo,
  .answerThree,
  .answerFour {
    width: 478px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    border: #F5FDFF;
  }

  nav {
    display: flex;
  }

  ul {
    width: 410px;
    display: flex;
    justify-content: space-between;
  }

  .mainLogo {
    height: 22px;
    margin: 0 0;
  }

  .navbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 42px;
    background-color: #197AFF;
    font-size: 14px;
  }

  section {
    width: 740px;

  }

  section h3 {
    width: 750px;
  }

  .mainWrapper h1 {
    padding-left: 20px;
    font-size: 30px;
  }

  .arrowMobile {
    left: 290px;
  }

  .ImgTwoMassagers {
    width: 204px;
    height: 137px;
    margin-right: 73px;
    margin-top: 0;
  }

  .shadow {
    left: 458px;
  }

  .shadow2 {
    left: 525px;
  }

  .kindOfMassage {
    width: 750px;
  }

  .massageBox {
    width: 185px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 500px;
  }

  .review {
    padding: 50px 50px;
  }

  .reviewContainer {
    gap: 5%;
  }

}

@media screen and (min-width: 890px) {
  section {
    width: 890px;
  }

  .mainWrapper h1 {
    font-size: 35px;
    width: 500px;
    line-height: 42px;
  }

  .mainWrapper span {
    letter-spacing: 0px;
    font-size: 35px;
  }

  .arrowMobile {
    left: 390px;
  }

  .ImgTwoMassagers {
    width: 224px;
    height: 157px;
    margin-right: 93px;
  }

  .mainWrapper .underlineMagic:after {
    top: 49px;
  }

  .shadow {
    display: none;
  }

  .shadow2 {
    display: none;
  }

  .kindOfMassage {
    width: 890px;
  }

  .massageBox {
    width: 200px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 550px;
  }

  .review {
    padding: 50px 120px;
  }

  .reviewContainer {
    gap: 10%;
  }

  .reviewBtn {
    right: 8%;
  }


}

@media screen and (min-width: 1175px) {
  ul {
    width: 520px;
    display: flex;
    justify-content: space-between;
  }

  .mainLogo {
    margin-right: 150px;
  }

  .container {
    background-color: #FBFBFB;
    padding: 30px 50px;
  }

  section {
    width: 100%;
  }

  .mainWrapper {
    height: 80px;
  }

  .mainWrapper h1 {
    width: 100%;
    font-size: 42px;
    line-height: 55px;
  }

  .mainWrapper .underlineMagic:after {
    width: 171px;
    background: url("./assets/underline-2.svg") no-repeat;
    top: 60px;
    left: -40px;
  }

  section h3 {
    width: 731px;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-align: start;
    margin: 0 20px;
  }

  .mainWrapper span {
    letter-spacing: 0px;
    font-size: 42px;
    position: relative;
  }

  .arrowMobile {
    display: none;
  }

  .arrowDesktop {
    display: flex;
    position: absolute;
    top: 10px;
    left: 920px;
  }

  .ImgTwoMassagers {
    display: none;
  }

  .sectionWrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }

  .ImgTwoMassagers-2 {
    display: flex;
    width: 391px;
    height: 241px;
  }

  .kindOfMassage {
    width: 686px;
    height: 152px;
    margin: 28px 20px;
    background: rgba(174, 204, 255, 0.1);
    border: 1px solid rgba(174, 204, 255, 0.5);
    border-radius: 10px;
    padding: 12px;
  }

  .massageBox {
    position: relative;
  }

  .line :after {
    content: "";
    position: absolute;
    border: 0.1px solid #CEE2FF;
    height: 110px;
    z-index: 1;
    top: 20px;
    left: 1%;
    padding: 0;
  }

  .kindOfMassage img {
    margin-top: 19px;
  }

  .kindOfMassage ul {
    display: block;
    width: 154px;
    height: 60px;
    font-size: 12px;
    color: #262626;
    text-align: center;
  }

  .kindOfMassage li {
    font-family: 'montDark';
  }

  .wrapperBtn {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    width: 408px;
  }

  .getMassage {
    width: 408px;
    margin-top: 0px;
    line-height: 24px;
    font-size: 18px;
  }

  .btnAboutBundles {
    width: 255px;
    height: 34px;
    margin: 16px auto;
    font-size: 15px;
  }

  .recommendation {
    width: 393px;
    margin: 0 50px;
    float: right;
  }

  .cardHead {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .cardHead h2 {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-family: 'montBold';
  }

  .cardHead img {
    width: 50px;
    margin-right: 16px;
  }

  .cardHeadImg-3 {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .cardHeadBox,
  .cardHeadBox-2,
  .cardHeadBox-3 {
    display: flex;
    width: 480px;
    height: 60px;
    padding: 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .cardHeadBox h3,
  .cardHeadBox-2 h3 {
    display: none;
  }

  .cardContainer {
    padding: 29px 10%;

  }

  .cardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2%;
  }

  .cardContainer h1 {
    font-size: 37px;
  }

  .cardContainer h2 {
    font-size: 37px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 368px;
    height: 530px;
  }

  .card-2 {
    margin-top: 40px;
  }

  .card h2,
  .card-2 h2,
  .card-3 h2 {
    font-size: 24px;
  }

  .card .card span,
  .card-2 span {
    font-size: 30px;
  }

  .freeShipping {
    display: flex;
    color: #11346F;
    font-size: 13px;
    font-family: "montBold";
    margin-right: 90px;
    margin: 10px 90px 10px 0;
  }

  .freeShipping-3,
  .freeShipping-2 {
    display: flex;
    color: #11346F;
    font-size: 13px;
    font-family: "montBold";
  }

  .freeShipping-2 {
    margin: 20px 0 20px 0;

  }

  .circleImg {
    background: url("./assets/30dayfree.png")no-repeat;
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .freeShipping-3 {
    margin: 0px 0 30px 0;
    align-items: baseline;
  }

  .card h5,
  .card-2 h5,
  .card-3 h5 {
    font-size: 12px;
  }

  .card-3 h5 {
    margin-bottom: 40px;

  }

  .afterpayLogo {
    margin-left: 0px;
    border-width: 8px 45px;
  }

  .inputWrapper {
    width: 335px;
    height: 80px;
  }

  .inputWrapper .aboutPrice {
    width: 182px;
    text-align: center;
  }

  .order {
    padding: 0 10% 0 10%;
  }

  .card button,
  .card-2 button,
  .card-3 button {
    width: 325px;
  }

  div#firstCard {
    order: 1;
  }

  div#secondCard {
    order: 3;
  }

  div#thirdCard {
    order: 2;
  }

  .review h1 {
    font-size: 37px;
    width: 782px;
  }

  .review .underline3:after {
    top: 56px;
    left: -4px;
  }

  .reviewContainer {
    display: flex;
    gap: 1%;
    flex-wrap: nowrap;
  }

  .wrapper {
    display: flex;
  }

  .faq h1 {
    font-size: 37px;
    line-height: 50px;
    width: 560px;
  }

  .faq span {
    font-family: "gilroy";
  }

  .underlineFaq {
    margin-left: 310px;
  }

  .faqContainer {
    margin: 0 0;
    width: 100%;
    margin: 38px;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
  }

  .faqImageMain {
    margin-bottom: 0px;
    width: 476px;
    height: 398px;
  }

  .questionOne,
  .questionTwo,
  .questionThree,
  .questionFour {
    width: 552px;
  }

  .answerOne,
  .answerTwo,
  .answerThree,
  .answerFour {
    width: 552px;
  }

  .seeAllWrapper {
    align-items: baseline;
  }

  .seeAll {
    margin-left: 150px;
  }

}

@media screen and (min-width: 1340px) {
  section {
    width: 100%;
    padding: 0 5%;
  }

  .cardContainer {
    padding: 29px 50px;
  }

  .cardWrapper {
    gap: 50px;
  }

  .card,
  .card-2,
  .card-3 {
    width: 368px;
    height: 530px;
  }


  .card span,
  .card-2 span {
    font-size: 30px;
  }

  .freeShipping {
    display: flex;
  }

  .freeShipping-3 {
    display: flex;
  }

  .card h5,
  .card-2 h5,
  .card-3 h5 {
    font-size: 12px;
  }

  .afterpayLogo {
    margin-left: 0px;
    border-width: 8px 45px;
  }

  .inputWrapper {
    width: 335px;
    height: 80px;
  }

  .inputWrapper .aboutPrice {
    width: 182px;
  }

  .card button,
  .card-2 button,
  .card-3 button {
    width: 331px;
  }


  .questionOne,
  .questionTwo,
  .questionThree,
  .questionFour {
    width: 652px;
  }

  .answerOne,
  .answerTwo,
  .answerThree,
  .answerFour {
    width: 652px;
  }

  .seeAll {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1500px) {
  section {
    padding: 0 8%;
  }

  .reviewContainer {
    gap: 5%;
  }
}

@media screen and (min-width: 1600px) {
  section {
    padding: 0 10%;
  }

  .reviewContainer {
    gap: 7%;
  }

  .reviewBtn {
    right: 7%;
  }
}

@media screen and (min-width: 1700px) {
  section {
    padding: 0 15%;
  }

  .reviewContainer {
    gap: 12%;
  }
}